* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eef0e8;
  font-family: Arial, Helvetica, sans-serif;
  padding: 120px 20px 8px;

  background:
    radial-gradient(circle at center, #ffffff 0%, transparent 38%),
    linear-gradient(90deg, #eef4d8 0%, #f8f8ef 50%, #dfe8ad 100%);
}

/* HEADER FIXO */

.header {
  position: fixed;
  top: 15px;
  left: 50px;
  right: 50px;
  z-index: 999;
  background: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 65px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
}

.logo img {
  width: 220px;
  height: auto;
}

/* MENU */

.menu {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-right: -80px;
}

.menu a {
  text-decoration: none;
  color: #1d7a2f;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* LINHA HOVER DO MENU */

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 3px;
  background: #1d7a2f;
  border-radius: 10px;
  transition: 0.3s;
}

/* APARECE AO PASSAR O MOUSE */

.menu a:hover::after {
  width: 100%;
}

/* COR AO PASSAR */

.menu a:hover {
  color: #0f3517;
}

/* ÁREA DIREITA DO HEADER */

.acoes-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* BOTÃO CADASTRO */

.cadastro {
  background: #146626;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 14px;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-right: -300px;
}

/* REMOVE QUALQUER LINHA */

.cadastro::after {
  display: none;
}

.cadastro:hover {
  background: #0d4e1a;
  color: white;
  transform: translateY(-5px);
}

/* BOTÃO ENTRAR */

.entrar {
  background: #146626;
  color: white;
  border: none;
  border-radius: 14px;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.entrar:hover {
  background: #0d4e1a;
  transform: translateY(-5px);
}

main,
.secao {
  scroll-margin-top: 130px;
}

.secao {
  padding: 40px 20px;
  text-align: center;
  border-top: 2px solid rgba(20, 102, 38, 0.12);
  box-shadow:
    0 -8px 20px rgba(0, 0, 0, 0.03),
    0 8px 20px rgba(0, 0, 0, 0.03);
}

.secao h1 {
  font-size: 72px;
  color: #146626;
  margin-bottom: 30px;
}

.folha-centro {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.folha-centro img {
  width: 200px;
  height: auto;
}

.name5 {
  font-size: 50px;
  font-weight: bold;
  color: #146626;
  text-align: center;
}

.texto-centro {
  text-align: center;
  margin-top: -30px;
}

.texto-centro p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}

.text1 {
  color: #0d4e1a;
  font-weight: bold;
}

.conteudo-imagens {
  position: relative;
  margin-top: 40px;
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gastos-caloricos {
  background-color: #0d4e1a;

  width: fit-content;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  border-radius: 30px;
  overflow: hidden;

  position: relative;
  z-index: 10;
}

.gastos-caloricos img {
  width: 800px;
  max-width: 100%;
  display: block;
  border-radius: 30px;
}

.img-lateral {
  width: 380px;
  position: absolute;
  right: 80px;
  top: 120px;
}

.img-lateral-2 {
  width: 380px;
  position: absolute;
  left: 80px;
  top: 120px;
}

.cta-final {
  background: white;

  width: fit-content;
  min-width: 1050px;

  margin: 40px auto 80px;

  padding: 28px 45px;

  border-radius: 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.cta-esquerda {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icone-folha {
  width: 70px;
  height: 70px;
  background: #dfe8c8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-folha img {
  width: 200px;
}

.texto-cta p {
  font-size: 18px;
  color: #3d3d3d;
}

.texto-cta h2 {
  font-size: 22px;
  color: #146626;
  font-weight: bold;
}

.botao-cta {
  position: relative;
  z-index: 20;
  background: #146626;
  color: white;
  border: none;
  border-radius: 14px;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.botao-cta:hover {
  background: #0d4e1a;
  transform: translateY(-5px);
}

/* TÍTULO DAS SESSÕES */

.historia {
  min-height: 100vh;
  padding: 90px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.historia-texto {
  width: 43%;
}

.historia-texto h1 {
  font-size: 82px;
  line-height: 0.95;
  color: #146626;
  margin-bottom: 25px;
}

.linha-historia {
  width: 120px;
  height: 4px;
  background: #146626;
  border-radius: 20px;
  margin-bottom: 35px;
}

.historia-texto p {
  font-size: 22px;
  line-height: 1.55;
  color: #214b2a;
  margin-bottom: 30px;
  text-align: left;
  align-items: flex-start;
}

.historia-texto strong,
.historia-card strong {
  color: #146626;
}

.historia-2 {
  color: #214b2a;
  text-align: left;
}

.botao-whats {
  background: #23862f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 18px 35px;
  font-size: 24px;
  cursor: pointer;
}

.historia-card {
  width: 44%;
  background: #f8f9f1;
  border: 2px solid #dfe8c8;
  border-radius: 28px;
  padding: 45px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.ano {
  background: #0d8a3a;
  color: white;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 18px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.ano img {
  width: 38px;
  height: 38px;

  object-fit: contain;
}

.historia-card > p {
  font-size: 25px;
  line-height: 1.6;
  color: #214b2a;
  margin-bottom: 50px;
}

.historia-itens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.historia-itens div {
  text-align: center;
  color: #146626;
  border-right: 2px solid #dfe8c8;
  padding: 0 10px;
}

.historia-itens div:last-child {
  border-right: none;
}

.historia-itens span {
  font-size: 45px;
  display: block;
  margin-bottom: 10px;
}

.historia-itens p {
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
}

.titulo-historia img {
  position: absolute;

  width: 100px;

  right: -65px;
  top: 48px;

  transform: rotate(8deg);
}

.titulo-historia span {
  color: #4b9e4d;
}

/* DICAS */

.dicas {
  min-height: 100vh;
  padding: 120px 60px 100px;
  text-align: center;
}

.titulo-dicas h1 {
  font-size: 72px;
  color: #146626;
  margin-bottom: 20px;
}

.titulo-dicas p {
  font-size: 28px;
  color: #4b4b4b;
  margin-bottom: 20px;
}

.linha-dicas {
  width: 110px;
  height: 6px;
  background: #146626;
  border-radius: 20px;
  margin: 0 auto 45px;
}

.cards-dicas {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card-dica {
  width: 360px;
  min-height: 540px;
  background: #ffffff;
  border-radius: 24px;
  padding: 35px 28px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

.imagem-dica {
  width: 250px;
  height: 250px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background: #e8f3dc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.imagem-dica img {
  width: 210px;
  height: 480px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagem-dica-2 {
  width: 250px;
  height: 250px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background: #e8f3dc;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-dica-2 img {
  object-fit: contain;
  width: 280px;
  height: 280px;
}

.imagem-dica-3 {
  width: 250px;
  height: 250px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background: #e8f3dc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.imagem-dica-3 img {
  width: 280px;
  height: 480px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-dica h2 {
  font-size: 30px;
  line-height: 1.1;
  color: #23862f;
  margin-bottom: 15px;
}

.linha-card {
  width: 45px;
  height: 3px;
  background: #23862f;
  border-radius: 20px;
  margin: 0 auto 18px;
}

.card-dica p {
  font-size: 18px;
  line-height: 1.5;
  color: #146626;
  margin-bottom: 28px;
}

.card-dica button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid #23862f;
  background: white;
  color: #23862f;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.titulo-historia {
  position: relative;

  text-align: left;
  align-items: flex-start;
  width: fit-content;

  font-size: 82px;
  line-height: 0.9;

  color: #146626;

  font-weight: bold;
}

/* CONTATO */

.contato {
  padding: 40px 5%;

  background:
    radial-gradient(circle at center, #ffffff 0%, transparent 38%),
    linear-gradient(90deg, #eef4d8 0%, #f8f8ef 50%, #dfe8ad 100%);
}

.contato-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* FORMULÁRIO */

.contato-formulario {
  width: 48%;
  background: #ffffff;
  padding: 45px;
  border-radius: 28px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.contato-formulario h1 {
  position: relative;
  color: #1f7a32;
  font-size: 55px;
  margin-bottom: 20px;
  width: fit-content;
}

.folha-contato {
  position: absolute;
  width: 45px;
  top: -5px;
  right: -38px;
  transform: rotate(10deg);
}

/* FOLHA */

.folha-contato {
  width: 60px;
}

.contato-formulario p {
  color: #2f3338;
  font-size: 22px;
  line-height: 1.4;
}

.contato-formulario strong {
  color: #1f7a32;
}

/* CAMPOS */

.formulario {
  margin-top: 30px;
}

.campo {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 18px;
}

.icone {
  width: 65px;
  height: 65px;
  background: #eef3e4;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icone img {
  width: 32px;
}

.campo input,
.campo textarea {
  width: 100%;
  border: 1px solid #d8e4c9;
  border-radius: 14px;
  padding: 18px;
  font-size: 20px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.campo textarea {
  height: 140px;
  resize: none;
}

.campo-textarea {
  align-items: flex-start;
}

.btn-enviar {
  width: calc(100% - 83px);
  margin-left: 83px;
  padding: 18px;

  border: none;
  border-radius: 18px;
  background: #358b3a;
  color: white;

  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.btn-enviar:hover {
  background: #26752f;
}

/* IMAGEM PRINCIPAL */

.contato-ilustracao {
  width: 52%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.contato-ilustracao img {
  width: 100%;
  max-width: 700px;
}

/* OUTROS CANAIS */

.outros-canais {
  width: 50%;
  margin-left: auto;
  margin-top: -100px;

  background: #f1f4e8;
  padding: 18px 25px;
  border-radius: 24px;
}

.outros-canais h2 {
  color: #1f7a32;
  font-size: 24px;
  margin-bottom: 15px;
}

.lista-canais {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.canal {
  text-align: center;
  padding: 0 15px;
  border-right: 1px solid #dce5d0;
}

.canal:last-child {
  border-right: none;
}

.img-canal {
  width: 32px;
  height: 32px;
  margin: 0 auto 8px;
}

.img-canal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.canal h3 {
  color: #1f7a32;
  font-size: 16px;
}

.canal p {
  color: #164b25;
  font-size: 14px;
  margin-top: 5px;
}

/* BANNER FINAL */

.banner-contato {
  margin-top: 35px;
  background: #f1f4e8;
  border-radius: 22px;
  padding: 14px 28px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-texto {
  display: flex;
  align-items: center;
  gap: 18px;
}

.banner-texto img {
  width: 100px;
}

.banner-texto p {
  color: #1d5f2b;
  font-size: 20px;
}

.banner-texto strong {
  color: #1f7a32;
}

.btn-banner {
  background: #358b3a;
  color: white;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;

  transition: transform 0.3s ease;
}

.btn-banner:hover {
  background: #0d4e1a;
  color: white;
  transform: translateY(-5px);
}

/* MOBILE */

@media (max-width: 900px) {
  .contato-container {
    flex-direction: column;
  }

  .contato-formulario,
  .contato-ilustracao,
  .outros-canais {
    width: 100%;
  }

  .outros-canais {
    margin-top: 30px;
  }

  .lista-canais {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .canal {
    border-right: none;
  }

  .banner-contato {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .contato {
    padding: 25px 20px;
  }

  .contato-formulario {
    padding: 30px 20px;
  }

  .contato-formulario h1 {
    font-size: 38px;
  }

  .contato-formulario p {
    font-size: 18px;
  }

  .campo {
    gap: 10px;
  }

  .icone {
    width: 55px;
    height: 55px;
  }

  .campo input,
  .campo textarea {
    font-size: 17px;
  }

  .btn-enviar {
    width: 100%;
    margin-left: 0;
  }

  .lista-canais {
    grid-template-columns: 1fr;
  }
}
